
.footer {
    &-main {
        background-color: var(--color8);
    }
    &-main-container {
        display: flex;
        padding-top: 45px;
        padding-bottom: 35px;
    }
    &-bottom {
        background-color: var(--color2);
    }
    &-bottom-container {
        display: flex;
        align-items: center;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    &-item {
        width: 17.2%;
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-item_company {
        width: 30%;
    }
    &-item_links {
        width: 19%;
    }
    &-logo-wrapper {
        display: flex;
        margin-bottom: 60px;
    }
    &-logo {
        padding-right: 12px;
        margin-right: 12px;
        border-right: 1px solid var(--color9);
    }
    &-name {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.36px;
        color: var(--color10);
    }
    &-company {
        max-width: 290px;
    }
    &-logo-img {
        display: block;
        max-width: 120px;
        max-height: 70px;
    }
    &-contacts {
    }
    &-contacts-item {
        display: flex;
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-contacts-icon {
        width: 16px;
        min-width: 16px;
        margin-top: -2px;
        margin-right: 9px;
        text-align: center;
    }
    &-contacts-label {
        color: var(--color10);
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.39px;
    }
    &-contacts-label_simple a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &-contacts-phone {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-menu-name {
        display: block;
        margin-bottom: 13px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.92px;
        text-transform: uppercase;
        color: var(--color10);
    }
    &-menu-item {
        margin-bottom: 11px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-menu-link {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.42px;
        color: var(--color10);
        &:hover {
            color: var(--color10);
            text-decoration: underline;
        }
    }
    &-button-list {
        margin-bottom: 28px;
    }
    &-button-item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &-button-icon {
        min-width: 16px;
        margin-right: 10px;
        margin-top: -2px;
    }
    &-button:hover &-button-icon {
        path {
            stroke: #fff;
        }
    }
    &-socials {
        margin-bottom: 18px;
        margin-right: -10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-socials-label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.42px;
        color: var(--color10);
    }

    @media screen
    and (max-width: $desktop){
    }
    @media screen
    and (max-width: $tablet){
    }
    @media screen
    and (max-width: $mobile){
    }
}
